@media (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
}


#main-menu.transparent {
    background-color: rgba(28, 28, 28, 0.6) !important;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.5s ease-out;
}

#main-menu {
    background-color: rgba(28, 28, 28, 1) !important;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.5s ease-out;
}

.carousel-item,
.carousel-item > img {
    height: 680px !important
}

.box {
    background: url("http://localhost/classics/sites/default/files/2019-11/white-paint.png") no-repeat;
    height: 400px;
    padding: 110px 50px;
    text-align: center;
}

.box:hover {
    background: url("http://localhost/classics/sites/default/files/2019-11/tower.jpg") no-repeat;
    color: white;
}

/* DRY */
.transition{
    transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}

.box .icon {
    border: 0;
    width: auto;
    height: auto;
    line-height: 1;
    margin-bottom: 20px;
}

#footer-icons > .fab, #footer-icons > .fas {
    color: white;
    margin: 0 3px;
}

.fas, .fab {
    margin: 0 3px;
}

#arrow-to-top > .fas {
    color: #003262;
}

/*
main-menu
*/

div.dropdown-menu {
    border-radius: 0;
    border: 0;
    transition: all 0.5s ease-out;
    padding: 0 !important;
}

nav.transparent div.dropdown-menu {
    margin-top: 20px !important;    
    background-color: rgba(28, 28, 28, 0.7) !important;
}

nav div.dropdown-menu {
    margin-top: 15px !important;
    background-color: rgba(28, 28, 28, 1) !important;
}

.dropdown-item {
    color: rgba(255, 255, 255, .5) !important;
    padding: .75rem 2rem .75rem 1.5rem !important;
}

.dropdown-item:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(255, 255, 255, .5) !important;
}

.dropdown-toggle:after {
    /*display: none !important;*/
}

.nav-item.dropdown:hover > .dropdown-menu {
    /*display: block !important;*/
}

.side-menu .dropdown:hover .dropdown-menu {
    /*display: block !important;*/
}

li:has(is-active) {
    background-color: yellow !important;
    display:block !important;
}